body {
    background-color: #f8f9fa; /* Svetlé pozadie pre celú stránku */
    font-family: Arial, sans-serif; /* Písmo pre celú stránku */
}

.navbar {
    margin-bottom: 30px; /* Medzera pod navigačným panelom */
}

.login-container {
    background-color: #fff; /* Biele pozadie pre formulár */
    border-radius: 8px; /* Zaoblené rohy */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Jemný tieň pre formulár */
    padding: 30px; /* Padding vo vnútri formulára */
}

.form-label {
    font-weight: bold; /* Tučné písmo pre štítky formulára */
}

.btn-dark {
    background-color: #343a40; /* Tmavošedé pozadie pre tlačidlo */
    border: none; /* Bez okrajov */
}

.btn-dark:hover {
    background-color: #495057; /* Svetlejší odtieň pri hover efektoch */
}

.text-center a {
    color: #007bff; /* Farba odkazov */
}

.text-center a:hover {
    text-decoration: underline; /* Podčiarknutie pri hover efektoch */
}
